@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*, ::after, ::before {
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	font-family: 'Abril Fatface', cursive;
	-webkit-font-smoothing: antialised;
	-moz-osx-font-smoothing: grayscale;
	background-color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.titleWrap{
	position: relative;
	z-index: 1000;
}

.titleWrap h1 {
	width: 100%;
	text-align: center;
	isolation: isolate;
}

.titleWrap h1 span {
	display: block;
	color: yellow;
	font-size: 20vw;
	font-weight: normal;
	text-transform: uppercase;
}

.titleWrap h1 span:last-child {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(33%);
	text-transform: none;
	font-size: 4vw;
	letter-spacing: 5px;
	color: yellow;
	mix-blend-mode: difference;
}

img{
	width: 200px;
}

.one{position: absolute; top: 1%; left: 1vw;}
.two{position: absolute; top: 80%; left: 1vw;}
.three{position: absolute; top: 30%; left: 60vw;}
.four{position: absolute; top: 70%; left: 40vw;}
.five{position: absolute; top: 3%; left: 80vw;}


